<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.lavisha.project">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".TeacherShow"></activity>
        <activity android:name=".TaskManagerActivity" />
        <activity android:name=".studentshow" />
        <activity android:name=".TellActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ChatListDisplayActivity" />
        <activity android:name=".ChatActivity" />
        <activity android:name=".EditProfile" />

        <meta-data
            android:name="android.support.VERSION"
            android:value="26.1.0"
            tools:replace="android:value" />

        <provider
            android:name=".data.TaskProvider"
            android:authorities="com.example.lavisha.project"
            android:exported="false" />

        <activity
            android:name=".NewTaskActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".TaskDetailActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />

        <service
            android:name=".data.TaskUpdateService"
            android:exported="false" />
        <service
            android:name=".reminder.ReminderAlarmService"
            android:exported="false" />
        <service
            android:name=".data.CleanupJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>